button {
    width: 45%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin-top: 8px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

input[type=text], select {
    width: 94%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 94%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
}

select {
    margin-top: 5px;
}

input[type=password], select {
    width: 94%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file], select {
    width: 94%;
    padding: 12px 10px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 0px 00px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 94%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submitpost] {
    width: 20%;
    display: inline-block;
    margin-top: 5px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
        background-color: #45a049;
    }

body {
    background: #f1eee9;
    font-family: "Roboto", sans-serif;
}

.main-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-block {
    background: #fff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

    .post-block img.author-img {
        height: 80px;
        width: 80px;
        border-radius: 45px;
    }

        .post-block img.author-img.author-img--small {
            height: 30px;
            width: 30px;
        }

.post-block__content img,
.post-block__content video,
.post-block__content audio {
    max-width: 100%;
    border-radius: 5px;
}

.post-block .comment-view-box__comment {
    border-radius: 5px;
    background: #f5f5f5;
    padding: 15px;
}


.Hea__left img {
    height: 40px;
}

.Avatar {
    border-radius: 50%;
    width: 40px;
}

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0,0,0,0.75);
}

.Head__left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Head__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

    .Head__input input {
        border: none;
        background-color: transparent;
        outline-width: 0;
    }

.Head__middle {
    display: flex;
    flex: 1;
    justify-content: center;
}

.Header__Options .material-icons {
    font-size: xx-large;
    color: gray;
}

.Header__Options:hover .material-icons {
    color: #2e81f4;
}

.Header__Options {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

    .Header__Options.active .material_icons {
        color: #2e81f4;
    }

    .Header__Options.active {
        border-bottom: 4px solid #eff2f5;
    }

    .Header__Options:hover {
        background-color: #eff2f5;
        border-radius: 10px;
        align-items: center;
        padding: 0 30px;
        border-bottom: none;
    }

.header__info {
    display: flex;
    align-items: center;
}

    .header__info h4 {
        margin-left: 10px;
    }

.Head__right {
    display: flex;
    align-items: center;
}

    .Head__right .material-icons {
        color: gray;
        margin: 0 10px;
        cursor: pointer;
    }


.sidebar__row {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

    .sidebar__row:hover {
        background-color: lightgray;
        border-radius: 10px;
    }

    .sidebar__row h4 {
        margin-left: 20px;
        font-weight: 600;
    }

    .sidebar__row .material-icons {
        font-size: xx-large;
        color: #2e81f4;
    }


.post__maker {
    display: flex;
    margin-top: 30px;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    width: 100%;
}

.post__top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

    .post__top form {
        flex: 1;
        display: flex;
    }

        .post__top form input {
            flex: 1;
            outline-width: 0;
            border: none;
            padding: 15px 20px;
            margin: 0 10px;
            border-radius: 999px;
            background-color: #eff2f5;
        }

.post__bottom {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.post__buttons {
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

    .post__buttons h3 {
        font-size: medium;
        margin-left: 10px;
    }

    .post__buttons:hover {
        cursor: pointer;
        background-color: #eff2f5;
        border-radius: 20px;
    }

.post {
    text-align: center;
    width: 70%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #eff2f5;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
}

.p__image {
    width: 100%;
}

.p__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__avatar {
    margin-right: 10px;
}

.p__topInfo h3 {
    font-size: medium;
}

.p__topInfo p {
    font-size: small;
    color: gray;
}

.p__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.p__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.p__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}




body {
  background-color: #333333;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  color: #111;
  line-height: 24px;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  padding: 20px 0;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 16px;
}

p {
  font-weight: 400;
  font-size: 16px;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #111111;
}

nav .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 70px;
}

nav ul {

}

nav ul li {
  list-style: none;
  float: left;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 16px;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #31a6ff;
}

section {
  background-color: #fff;
  width: 94%;
  padding: 20px 3%;
}

/* index */

.index-intro p {
    text-align: center;
}

#feed-example-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1500px;
}

.post-example {
    width: 500px;
    height: 500px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* sign up */

.signup-form-form {
  display: flex;
  justify-content: center;
}

.signup-form p {
  text-align: center;
  padding-bottom: 40px;
  color: #007ecc;
}

.signup-form form {
  width: 30%;
}

.signup-form form input {
  width: calc(100% - 16px);
  padding: 6px;
  margin-bottom: 4px;
}

.signup-form form button {
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
}
